@charset "utf-8";
body {
    width: 960px;
    margin: 0 auto;
    font-size: 15px;
}

.tpp {
    margin-top: 20px;
    height: 80px;
    background: chartreuse;
}

.sidebar {
    width: 150px;
    height: 500px;
    float: left;
    margin-top: 10px;
    background: chocolate;
}

.main {
    margin-top: 10px;
    width: 800px;
    height: 500px;
    float: right;
    background: yellow;
}